body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


ul,
li {
  list-style: none;
}


/*
*
*
*/

.item .item-cate {
  text-align: center;
  padding: .5rem;
}

.item .item-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 .5rem;
}

.item .item-list li {
  width: 33.3%;
  padding: .5rem;
  box-sizing: border-box;
}


.item .item-list li a {

  text-decoration: none;

  color: #555;
}

.item .item-list li .inner {
  background: #fff;
  width: 100%;
  border-radius: .5rem;
  overflow: hidden;
}

.item .item-list li .inner img {
	width: 100%;
	height: 95px;
}

.item .item-list li .inner p {
  padding: .2rem .5rem;
}

.item .item-list li .inner .title {
  font-weight: bold;
}

.price {
  color: red;
}

.header a{
	margin: 0 15px;
}
.content {
	display: flex;
	width: 100%;
}

.content .left{
	width: 200px;
	height: 500px;
  background-color: #F7F7F7;
}

.content .right{
	flex: 1;
}

.content .left a{
	display: block;
	padding: 15px;
	text-align: center;
}
